<p> Para os nossos seguidores: </p>
<p> Estes são os candidatos, entidades e ofertas criadas esta semana. </p>

<h3> Utilizadores </h3>

<table class="table table-striped">
  <tr>
    <th class="col-md-4"> Nome </th>
    <th class="col-md-4"> Email </th>
    <th class="col-md-4"> Tipo </th>
  </tr>

  <% @users.each do |user| %>
        <tr>
          <td class="col-md-4"> <%= user.name %> </td>
          <td class="col-md-4"> <%= user.email %> </td>
          <td class="col-md-4"> <%= user.tipo %> </td>
        </tr>
  <% end %>
</table>

<h3> Ofertas </h3>
<table class="table table-striped">
  <tr>
    <th class="col-md-3"> Titulo </th>
    <th class="col-md-4"> Atividade Profissional </th>
    <th class="col-md-3"> Salário </th>
  </tr>

  <% @ofertas.each do |oferta| %>
        <tr>
          <td class="col-md-3"> <%= oferta.titulo %> </td>
          <td class="col-md-4"> <%= oferta.atividade_profissional %> </td>
          <td class="col-md-3"> <%= oferta.salario %> </td>
        </tr>
  <% end %>
</table>
