<% provide(:title, 'Notícias') %>
<div class="row">
  <aside class="col-md-4">
    <h3>Notícias</h3>
  </aside>
</div>
<div class="row">
  <% @noticias.each do |noticia| %>
      <div class="col-md-6">
        <%= render noticia %>
      </div>
  <% end %>
</div>
<%= will_paginate(@noticias) %>