<% provide(:title, 'Notícia') %>
<div class="row">
  <aside class="col-md-4">
    <h3><%= @noticia.titulo %></h3>
    <p><%= @noticia.data %></p>
  </aside>
</div>
<div class="row">
  <div class="col-md-7">
    <p><%= raw @noticia.descricao %></p>
  </div>
  <div class="col-md-5">
    <% if @noticia.foto.attached? %>
      <%= image_tag @noticia.display_image , style:'width:100%' %>
    <% else %>
      <%= image_tag 'default_noticia.png' , style:'width:100%' %>
    <% end %>
  </div>
</div>
<div class="row">
  <%= link_to "Ver todas", index_noticias_path %>
</div>