<aside class="col-md-2">
  <section class="col-md-12">
    <h1>
      <%= @user.name %>
    </h1>
  </section>

  <section class="col-md-12">
      <% if @user.foto.attached? %>
        <%= image_tag @user.display_image , style:'width:100%' %>
      <% else %>
        <%= image_tag 'default.png' , style:'width:100%' %>
      <% end %>
  </section>

  <section class="col-md-12" >
    <% if @user.cv.attached? %>
      <%= link_to "Currículo", @user.cv %>
    <% end %>
  </section>

  <section class="col-md-12" >
    <% if logged_in? && current_user.tipo == 'entidade'%>
        <%= render 'form_interesse' %>
    <% end %>
  </section>
</aside>

<% if current_user?(@user) || admin_user?(current_user) %>
  <aside class="col-md-4"> </aside>
  <aside class="col-md-6">
    <section>
      <%= link_to "Editar dados", edit_user_path(@user), class: 'btn btn-default' %>
      <%= link_to "Editar Password", edit_password_path(@user), class: 'btn btn-default' %>
    </section>
  </aside>
<% end %>



<aside class="col-md-10">
  <section class="user_edit">
    <p><b>Apresentação</b></p>
    <p> <%= raw @user.apresentacao %> </p>
    <p><b>Atividade Profissional</b></p>
    <p><%= @user.area_profissional %></p>
  </section>
  <section>
    <p><b>Morada</b></p>
    <p><%= @user.codigo_postal %> <%= @user.localidade %></p>
  </section>

  <section>
    <h3><strong>Dados Profissionais</strong></h3>
    <p><strong>Situação Profissional</strong></p>
    <p><%= @user.situacao_profissional %></p>
    <p><strong>Nível Habilitações</strong></p>
    <p><%= @user.nivel_habilitacoes %></p>
    <p><strong>Habilitações Literárias</strong></p>
    <p><%= raw @user.habilitacoes_literarias %></p>
    <p><strong>Experiência Profissional</strong></p>
    <p><%= raw @user.experiencia_profissional %></p>
  </section>

  <section>
    <p><b>Contactos</b></p>
    <p>Telemóvel: <%= @user.telemovel %> | Telefone: <%= @user.telefone%></p>
    <p><%= @user.email %></p>
    <p><%= link_to @user.pagina, "http://#{@user.pagina}" %><p>
  </section>
</aside>