<aside class="col-md-6">
  <section>
    <h1> Candidaturas </h1>
    <% if @candidaturas.any? %>
        <%= render @candidaturas %>
        <%= will_paginate @candidaturas %>
    <% else %>
        <p>Ainda não se candidatou a nenhuma oferta</p>
    <%end %>
  </section>

  <section>
    <h1> Empresas interessadas em mim </h1>
    <% if  @followers.any? %>
      <%= render @followers %>
    <% else %>
      <p>Ainda não tem empresas interessadas em si.</p>
    <% end %>
  </section>
</aside>

<aside class="col-md-6">
  <section>
    <%= link_to "Editar dados", edit_user_path(@user), class: 'btn btn-default' %>
    <%= link_to "Editar Password", edit_password_path(@user), class: 'btn btn-default' %>
  </section>
</aside>