<aside class="col-md-6">
  <section>
    <h1> Ofertas <%= link_to " (Inserir oferta) ", new_ofertum_path %> </h1>
    <% if @ativas.any? %>
        <%= render @ativas %>
        <%= will_paginate(@ativas)%>
    <% else %>
        <p>Não tem quaisquer ofertas activas.</p>
    <% end %>
  </section>

  <section>
    <h1> Histórico </h1>
    <%= render @historico %>
  </section>
</aside>

<aside class="col-md-6">
  <section>
    <%= link_to "Editar dados", edit_user_path(@user), class: 'btn btn-default' %>
    <%= link_to "Editar Password", edit_password_path(@user), class: 'btn btn-default' %>
  </section>

  <section>
    <h1> Candidatos Interessados </h1>
    <% if  @followers.any? %>
      <%= render @followers %>
    <% else %>
      <p>Sem candidatos interessados.</p>
    <% end %>
  </section>
</aside>