<aside class="col-md-2">
  <section class="col-md-12">
    <h1>
      <%= @user.name %>
    </h1>
  </section>

  <section class="col-md-12">
      <% if @user.foto.attached? %>
        <%= image_tag @user.display_image , style:'width:100%' %>
      <% else %>
        <%= image_tag 'default.png' , style:'width:100%' %>
      <% end %>
  </section>

  <section class="col-md-12" >
    <% if logged_in? && current_user.tipo == 'candidato'%>
        <%= render 'form_interesse' %>
    <% end %>
  </section>
</aside>

<% if current_user?(@user) || admin_user?(current_user) %>
  <aside class="col-md-4"> </aside>
  <aside class="col-md-6">
    <section>
      <%= link_to "Editar dados", edit_user_path(@user), class: 'btn btn-default' %>
      <%= link_to "Editar Password", edit_password_path(@user), class: 'btn btn-default' %>
    </section>
  </aside>
<% end %>

<aside class="col-md-10">
  <section class="user_edit">
    <p> <%= raw @user.apresentacao %> </p>
    <p><b>Atividade Profissional</b></p>
    <p><%= @user.area_profissional %></p>
  </section>
  <section>
    <p><b>Morada</b></p>
    <p><%= raw @user.morada %></p>
    <p><%= @user.codigo_postal %> <%= @user.localidade %></p>
  </section>

  <section>
    <p><b>Contactos</b></p>
    <p>Telemóvel: <%= @user.telemovel %> | Telefone: <%= @user.telefone%></p>
    <p><%= @user.email %></p>
    <p><%= link_to @user.pagina, "http://#{@user.pagina}" %><p>
  </section>
</aside>

<aside class="col-md-12">
  <section class="col-md-6" >
    <h1> Ofertas ativas </h1>
    <% if @ativas.any? %>
      <%= render @ativas %>
    <% else %>
      <p>Não tem quaisquer ofertas activas.</p>
    <% end %>
  </section>
</aside>