<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
    <div class="row">
        <%= hidden_field_tag :followed_id, @user.id %>
        <%= f.submit "Interessado/a", class: "btn btn-default" %>
    </div>

    
<% end %>