<aside>
  <section>
    <div class="col-md-3" >
      <% if user.foto.attached? %>
        <%= image_tag user.display_image , style:'width:100%' %>
      <% else %>
        <%= image_tag 'default.png' , style:'width:100%' %>
      <% end %>
    </div>
    <div class="col-md-9">
      <%= link_to user.name, user  %>
      <% if user.tipo == 'entidade' %>
          <p> <%= raw user.apresentacao.first(80) %></p>
      <% else %>
          <p><%= user.area_profissional %> <br><%= raw user.experiencia_profissional.first(45) %> <br><%= user.nivel_habilitacoes %></p>
      <% end %>
    </div>
  </section>
</aside>
