<% provide(:title, 'Editar Utilizador') %>

<div class="row">
  <aside class="col-md-4">
    <h3>Editar Utilizador</h3>
  </aside>
</div>


<div class="row">
  <div class="col-md-12 ">
    <%= simple_form_for @user, html: {multipart: true}, url: edit_user_path do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div id="info_candidate" class="profile">
        <%= render 'layouts/form_info_pessoal', :f => f %>
        <div class="row">
            <% if @user.tipo == 'candidato' %>
                <div class="col-md-12">
                    <h3>Apresentação</h3>
                    <%= f.text_area :apresentacao, label:  "Apresentação", class:"tinymce" %>
                </div>
        
                <div class="col-md-2">
                    <%= f.date_field :data_nascimento, label: "Data de Nascimento" ,  class: 'form-control' %>
                </div>
            <% end %>

            <% if @user.tipo == 'entidade' %>
                <div class="col-md-2 ">
                    <%= f.input :bilhete_identidade, label: "NIF" %>
                </div>
            <% else %>
                <div class="col-md-3 col-md-offset-4">
                    <%= f.input :bilhete_identidade, label: "Nº do Cartão de Cidadão" %>
                </div>
            <% end %>
        </div>
        <hr>
        <div class="row">
            <% if @user.tipo == 'candidato' %>
                <%= render 'layouts/form_atividade', :f => f %>
            <% else %>
                <div class="col-md-2">
                    <%= f.input :area_profissional, label: "Atividade Profissional",collection: (['Informática','Educação','Saúde','Metalúrgica','Prestação de Serviços']) %>
                </div>

                <div class="col-md-12">
                    <%= f.text_area :apresentacao, label: "Apresentação", class:"tinymce" %>
                </div>
            <% end %>
        </div>

        <div class="row" style="margin:5% 0%">
            <div class="col-md-6">
                <div class="checkbox">
                    <%= f.input :newsletter, inline_label: "Receber Newsletter" %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <%= f.button :submit, 'Editar', class: 'btn btn-primary' %>
            </div>
        </div>
    <% end %>
  </div>
</div>