<% provide(:title, 'Candidatos') %>
<div class="row">
  <aside class="col-md-4">
    <h3>Candidatos</h3>
  </aside>
</div>

<div class="row">
  <aside >
    <%= form_for index_candidatos_path, method: 'get'  do  %>
        <div class="col-md-3">
          <%= text_field_tag :search, params[:search], placeholder: 'Pesquisa', class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <% field_array = User.candidato.distinct.pluck(:area_profissional) %>
          <%= select_tag(:area_profissional,
                options_for_select(field_array,
                params[:area_profissional]),
                {include_blank: 'Área Profissional...', :onChange => "javascript: this.form.submit();", class: 'form-control'})  %>
        </div>
        <div class="col-md-3">
          <%= select_tag(:situacao_profissional, 
                options_for_select(['Empregado', 'Desempregado'], 
                params[:situacao_profissional]),
                {include_blank: 'Situação Profissional...', :onChange => "javascript: this.form.submit();", class: 'form-control'}) %>
        </div>
        <div class="col-md-3">
          <% field_array = User.candidato.distinct.pluck(:localidade) %>
          <%= select_tag(:localidade, 
                options_for_select(field_array,
                params[:localidade]),
                {include_blank: 'Localidade...', :onChange => "javascript: this.form.submit();", class: 'form-control'}) %>
        </div>
    <% end %>

  </aside>
</div>

<div class="row">
</div>

<div class="info_users">
  <% @users.each do |user|  %>
      <div class="col-md-6">
        <%= render user %>
        <div style="min-height: 40px; width:100%">

          <% if logged_in? && current_user.tipo == 'entidade'  %>
              <div class="col-md-6">
                <% @user = user %>
                <%= render 'form_interesse' %>
              </div>
          <% end %>

          <% if current_user?(user) || admin_user?(current_user) %>
              <div class="col-md-1">
                <%= link_to "Editar", edit_user_path(user), class: 'btn btn-default' %>
              </div>
          <% end %>

        </div>
      </div>
  <% end %>
</div>
<div class="row">
</div>
<%= will_paginate(@users)%>
<div class="row">
</div>