<% provide(:title, 'Registo') %>
<h1>Novo Registo</h1>

<div class="row">
    <div class="col-md-6 center">
      <%= link_to "Novo Candidato",  novo_candidato_url ,class: 'btn btn-default btn-lg' %>
    </div>
    <div class="col-md-6 center">
      <%= link_to "Nova Entidade", nova_entidade_url ,class: 'btn btn-default btn-lg' %>
    </div>
</div>
