<% provide(:title, @user.name) %>
<div class="row profile">
  <%  if @user.tipo == 'entidade' %>
      <%= render 'entidade' %>
  <% elsif @user.tipo == 'candidato' %>
      <%= render 'candidato' %>
  <% end %>
</div>