<% provide(:title, 'Editar') %>
<div class="row">
  <aside class="col-md-4">
    <h3>Editar</h3>
  </aside>
</div>
<div class="row">
  <div class="col-md-12 ">
    <%= render 'layouts/form_edicao_password_backoffice' %>
  </div>
</div>