<% provide(:title, 'Editar') %>

<div class="row">
  <aside class="col-md-4">
    <h3>Editar</h3>
  </aside>
</div>
<div class="row">
  <div class="col-md-12 ">
    <%= simple_form_for @user, url: backoffice_edit_users_path do |f| %>
        <%= render 'layouts/form_edicao_backoffice', :f => f %>
  <% end %>
  </div>
</div>