<div class="row">
  <aside>
    <section>
      <h3>
        Notícias
      </h3>
    </section>
  </aside>
</div>

<div class="row">
  <aside >
    <%= form_for backoffice_noticias_path, method:'get' do |f| %>
        <div class="col-md-3">
          <%= text_field_tag :titulo, params[:titulo], placeholder: 'Pesquisa',class:'form-control' %>
        </div>
    <% end %>
  </aside>
</div>
<div class="row table-responsive">
  <table class="table table-striped ">
    <tr>
      <th>Nome</th>
      <th>Data</th>
      <th>Destaque</th>
      <th>Activo</th>
      <th>Ações</th>
    </tr>
    <% @noticias.each do |news| %>
        <tr>
          <td><%= news.titulo %></td>
          <td><%= news.data %></td>
          <td><%= news.destaque %></td>
          <td><%= news.ativa %></td>
          <td>
            <%= link_to "Detalhe", backoffice_show_noticia_path(news), class: 'btn btn-info' %>
            <%= link_to "Editar", backoffice_edit_noticias_path(news) , class: 'btn btn-info' %>
            <%= link_to "Apagar", noticias_delete_path(news), method: :delete,
                            data: { confirm: "Tem a certeza que pretende eliminar esta notícia?" }, class: 'btn btn-danger' %>
        </tr>
    <% end %>

  </table>
</div>
<div class="row">
  <aside>
    <section>
      <%= link_to "Inserir", new_noticia_path, class: 'btn btn-default' %>
    </section>
  </aside>
</div>
<div class="row">
  <%= will_paginate(@noticias) %>
</div>