<div class="row">
  <aside class="col-md-4">
    <section>
      <h3>Detalhe da Notícia</h3>
    </section>
  </aside>
</div>

<div class="row">
  <aside class="col-md-6">
    <section>
      <p><strong>Título</strong></p>
      <p><%= @noticia.titulo %></p>
    </section>
  </aside>
  <aside class="col-md-6">
    <section>
      <p><strong>Data</strong></p>
      <p><%= @noticia.data %></p>
    </section>
  </aside>
</div>

<div class="row">
  <aside class="col-md-12">
    <section>
      <p><strong>Sumário</strong></p>
      <p><%= raw @noticia.sumario %></p>
      <p><strong>Texto</strong></p>
      <p><%= raw @noticia.descricao %></p>
    </section>
  </aside>
</div>

<div class="row">
  <aside class="col-md-2">
    <section>
        <h3> Imagem</h3>
        <% if @noticia.foto.attached? %>
            <%= image_tag @noticia.display_image , style:'width:100%' %>
        <% else %>
            <%= image_tag 'default_noticia.png' , style:'width:100%' %>
        <% end %>
    </section>
  </aside>
</div>

<div class="row">
  <aside class="col-md-6">
    <section>
      <p><strong>Destaque</strong></p>
      <p><%= @noticia.destaque %></p>
    </section>
  </aside>
  <aside class="col-md-6">
    <section>
      <p><strong>Activa</strong></p>
      <p><%= @noticia.ativa %></p>
    </section>
  </aside>
</div>
<div class="row">
  <%= link_to "Editar", backoffice_edit_noticias_path(@noticia),class: 'btn btn-default' %>
  <%= link_to "Apagar", noticias_delete_path(@noticia), method: :delete,
                  data: { confirm: "Tem a certeza que pretende eliminar esta notícia?" }, class: 'btn btn-danger' %>
</div>
<div class="row" style="margin-top:2%;">
  <%= link_to "Inserir", new_noticia_path,class: 'btn btn-default' %>
  <%= link_to "Listagem", backoffice_noticias_url ,class: 'btn btn-default' %>
</div>