<% provide(:title, "Contactos") %>
<h1> Bolsa de Emprego</h1>

<h3> WireMaze </h3>
<p>
    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=41.2157262,-8.6259617&key=AIzaSyBcxb7pZ4o0Pq1drlIhy4GMkJY-ztZQST8", alt: "Map" %>
</p>
