<% provide(:title, "Home") %>
<div class="row">
  <aside class="col-md-6">
    <section class="">
      <h1> Últimas Ofertas <%= link_to '(Todas)', index_ofertas_path %> </h1>
      <%= render @ofertas %>
    </section>
  </aside>
  <aside class="col-md-6">
    <section class="">
      <h1> Notícias em destaque <%= link_to '(Todas)', index_noticias_path %> </h1>
      <%= render @noticias %>
    </section>
  </aside>
</div>

<div class="row">
  <aside class="col-md-6">
    <section class="">
      <h1> Últimas Entidades <%= link_to '(Todas)', index_entidades_path %> </h1> 
      <%= render @entidades %>
    </section>
  </aside>
  <aside class="col-md-6">
    <section class="">
     <h1> Últimas Candidatos <%= link_to '(Todos)', index_candidatos_path %> </h1> 
      <%= render @candidatos %>
    </section>
  </aside>
</div>