<%= form_for(current_user.ofertas_active_relationships.build, remote: true) do |f| %>
    <div><%= hidden_field_tag :oferta_id, @oferta.id %></div>
    <%= f.submit "Candidatar-me", class: "btn btn-default" %>
<% end %>