<aside>
  <section>
    <div class="col-md-3">
      <% if ofertum.foto.attached? %>
        <%= image_tag ofertum.display_image , style:'width:100%' %>
      <% else %>
        <%= image_tag 'default_oferta.png' , style:'width:100%' %>
       <% end %>
    </div>
    <div class="col-md-9">
      <p>
        <%= link_to ofertum.titulo, ofertum %><br>
        <%= ofertum.data_inicio %> até <%= ofertum.data_fim %><br>
        <%= ofertum.user.name %><br>
        <%= raw ofertum.descricao %>
      </p>
    </div>
    <div class="col-md-12" style="min-height: 40px">
      <% if logged_in? %>
          <% unless current_page?(root_path)%>

            <% if admin_user?(current_user) || current_user?(ofertum.user) %>
              <% if current_page?(user_path(current_user)) %>
                <% if ofertum.ativa %>
                  <%= link_to "Editar", edit_ofertum_path(ofertum), class: 'btn btn-default' %>
                  <%= link_to "Desativar", oferta_estado_path(ofertum.id),  method: :put,class: 'btn btn-default' %>
                <% else %>
                  <%= link_to "Reativar", oferta_estado_path(ofertum.id), method: :put, class: 'btn btn-default' %>
                <% end %>
              <% else %>

                <%= link_to "Editar", edit_ofertum_path(ofertum), class: 'btn btn-default' %>
                <% if ofertum.ativa %>
                  <%= link_to "Desativar", oferta_estado_path(ofertum.id), method: :put, class: 'btn btn-default' %>
                <% else %>
                  <%= link_to "Reativar", oferta_estado_path(ofertum.id), method: :put, class: 'btn btn-default' %>
                <% end %>

              <% end %>

            <% end %>
          <% end %>

          <% unless current_page?(root_path) || current_page?(user_path(current_user)) %>
            <% if ofertum.ativa && current_user.tipo == 'candidato'  %>
              <div class="col-md-6">
                <% @oferta = ofertum %>
                <% if current_user.candidato_oferta?(ofertum) %>
                    <%= render 'oferta/unfollow' %>
                <% else %>
                    <%= render 'oferta/follow' %>
                <% end %>
              </div>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </section>
</aside>