<%= form_for(current_user.ofertas_active_relationships.find_by(oferta_id: @oferta.id),
             html: { method: :delete }, remote: true) do |f| %>
    <%= f.submit "Retirar Candidatura", class: "btn btn-default" %>
<% end %>