<% provide(:title, 'Ofertas') %>
<div class="row">
  <aside class="col-md-4">
    <h3>Ofertas</h3>
  </aside>
</div>
<div class="row">
  <aside>
    <%= form_for oferta_path, method: 'get' do %>
        <div class="col-md-3">
          <%= text_field_tag :search, params[:search], placeholder: 'Pesquisa', class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <% field_array = Ofertum.all.distinct.pluck(:atividade_profissional) %>
          <%= select_tag(:atividade_profissional , options_for_select(field_array,params[:atividade_profissional]),{include_blank: 'Atividade profissional...', :onChange => "javascript: this.form.submit();", class: 'form-control'}) %>
        </div>
    <% end %>
  </aside>
</div>

<div class="row">
  <% @ofertas.each do |offer|  %>
      <div class="col-md-6">
        <%= render offer %>
      </div>
  <% end %>

</div>
<%= will_paginate(@ofertas) %>