<aside class="col-md-12 user_info_avatar">
  <section>
    <h1>
      <%= @oferta.titulo %>
    </h1>
  </section>
</aside>
<aside class="col-md-2 user_info_avatar">
  <section>
    <% if @oferta.foto.attached? %>
        <%= image_tag @oferta.display_image , style:'width:100%' %>
    <% else %>
        <%= image_tag 'default_oferta.png' , style:'width:100%' %>
    <% end %>
  </section>
  <% if logged_in? %>

      <% if current_user.tipo == 'candidato' %>
          <% if current_user.candidato_oferta?(@oferta) %>
              <%= render 'oferta/unfollow' %>
          <% else %>
              <%= render 'oferta/follow' %>
          <% end %>
      <% end %>

      <% if admin_user?(current_user) || current_user?(@oferta.user) %>
        <%= link_to "Editar", edit_ofertum_path, class: 'btn btn-default' %>
      <% end %>

  <% end %>
</aside>
<aside class="col-md-10">
  <section class="user_edit">
    <p> <%= raw @oferta.descricao %> </p>
    <p><%= @oferta.data_inicio %> até <%= @oferta.data_fim %> </p>
    <p><strong>Empresa</strong></p>
    <p><%= link_to @oferta.user.name, user_path(@oferta.user.id) %></p>
    <p><strong>Actividade Profissional</strong></p>
    <p><%= @oferta.atividade_profissional %></p>
    <p><strong>Tipo de Contrato</strong></p>
    <p><%= @oferta.tipo_contrato %></p>
    <p><strong>Salário</strong></p>
    <p><%= @oferta.salario %></p>
  </section>
</aside>

<% if current_user?(@oferta.user) %>
  <% if @candidatos.any? %>
    <div class="row">
      <aside class="col-md-6">
        <section>
          <h1>
            Candidatos
          </h1>
          <%= render @candidatos %>
        </section>
      </aside>
    </div>
  <% end %>
<% else %>
  <% if @ofertas_atividade.any? %>
    <div class="row">
      <aside class="col-md-6">
        <section>
          <h1>
            Outras ofertas na mesma área
          </h1>
          <%= render @ofertas_atividade %>
        </section>
      </aside>
    </div>
  <% end %>
<% end %>

<div class="row">
</div>