<aside class="col-md-12" style="min-height: 40px">
  <section>
    <div class="col-md-3">
      <% if noticia.foto.attached? %>
        <%= image_tag noticia.display_image , style:'width:100%' %>
      <% else %>
        <%= image_tag 'default_noticia.png' , style:'width:100%' %>
      <% end %>
    </div>
    <div class="col-md-9">
      <%= link_to noticia.titulo, noticia_path(noticia) %>
      <p><%= noticia.data %></p>
      <p><%= raw noticia.sumario %> </p>
    </div>
  </section>
</aside>