<footer class="footer">
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Contactos", contactos_path  %></li>
        <li><%= link_to "Sobre", sobre_path %></li>
    </ul>
    <p> Bolsa de Emprego - Projeto WireMaze </p>
</footer>