<%= simple_form_for @oferta, html: { multipart: true} do |f| %>
    <div>
      <div id="new_info">
        <div class="row">
          <div class="col-md-6 ">
            <%= f.input :titulo, label: "Título" %>
          </div>
          <div class="col-md-3">
            <%= f.label :data_inicio, "Data Início:" %>
            <%= f.date_field :data_inicio, class: 'form-control' %>

          </div>

          <%= f.hidden_field :user , value: current_user %>

          <div class="col-md-3">
            <%= f.label :data_fim, "Data Fim: "%>
            <%= f.date_field :data_fim, class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3> Descrição </h3>
            <%= f.text_area :descricao, class:'tinymce', label: "Descrição" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <%= f.input :foto, as: :file, label: "Foto" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.label "Empresa" %>
            <p><%= link_to @user.name, @user %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :atividade_profissional, label: "Atividade Profissional",collection: (['Engenharia', 'Letras', 'Saúde', 'Desporto']) %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">

            <%= f.input :tipo_contrato, label: "Tipo de Contrato", collection: (['Full-Time','Part-Time']) %>
          </div>

          <div class="col-md-4 col-md-offset-2">
            <%= f.input :salario,label: "Salário", collection: (['Salário Mínimo','600€-1500€','1500€-2000€','2000€-']) %>
          </div>
        </div>

        <div class="row">

            <div class="col-md-2">
              <h5><strong>Activa</strong></h5>
              <br>
              <div class="checkbox">
                <p>
                  <%= f.input :ativa, inline_label: 'Sim' %>
                </p>
              </div>
            </div>

            <div class="col-md-2">
              <h5><strong>Destaque</strong></h5>
              <br>
              <div class="checkbox">
                <p>
                  <%= f.input :destaque, inline_label: 'Sim' %>
                </p>
              </div>
            </div> 
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-2">
          <%= f.button :submit, 'Criar/Editar oferta',class: "btn btn-primary" %>
        </div>
      </div>
      
    </div>
<% end %>