<div class="row">
  <div class="col-md-6 ">
    <%= f.input :name, label: "Nome" , class:"form-control",error: false%>
  </div>
  <div class="col-md-3">
    <%= f.input :foto, as: :file, label: "Fotografia", error:false %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Morada</h3>
    <%= f.text_area :morada, as: :text, label: "Morada" , class:"form-control tinymce",error: false %>
  </div>
  <div class="col-md-2">
    <%= f.input :codigo_postal, label: "Código Postal", class:"form-control" ,error: false%>
  </div>
  <div class="col-md-2 col-md-offset-4">
    <%= f.input :localidade, label: "Localidade", class:"form-control",error: false %>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <%= f.input :telefone, label: "Telefone" , class:"form-control",error: false%>
  </div>
  <div class="col-md-2">
    <%= f.input :telemovel, label: "Telemóvel" , class:"form-control",error: false%>
  </div>
  <div class="col-md-6 col-md-offset-2">
    <%= f.input :pagina, label: "Página Pessoal" , class:"form-control",error: false%>
  </div>
</div>