<%= simple_form_for @user, html: {multipart: true}, url: novo_candidato_path  do |f| %>
    <%= render 'shared/error_messages' %>
    <%= render 'layouts/form_info_login', :f => f %>

    <div id="info_candidato" class="profile">
        <%= render 'layouts/form_info_pessoal', :f => f %>
        <div class="row">
            <div class="col-md-2">
                <%= f.date_field :data_nascimento, label:"Data Nascimento", class:"form-control" ,error: false%>
            </div>
            <div class="col-md-3 col-md-offset-4">
                <%= f.input :bilhete_identidade,label: "Nº Cartão do Cidadão" , class:"form-control" ,error: false%>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h3>Apresentação</h3>
                <%= f.text_area :apresentacao, label:  "Apresentação", class:"tinymce" %>
            </div>
        </div>

        <div class="row">
            <%= render 'layouts/form_atividade', :f => f %>
        </div>
        <%= f.hidden_field :tipo, value: 'candidato' %>
        
        <div class="row" style="margin:5% 0%">
          <div class="col-md-6">
            <div class="checkbox">
              <%= f.input :newsletter, inline_label: "Newsletter" %>
            </div>
          </div>
        </div>

    </div>

    <div class="col-md-2">
      <%= f.button :submit, "Registar Candidato",class: "btn btn-primary" %>
    </div>
<% end %>

<script type="text/javascript">
  $('#user_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('O tamanho máximo é de 5MB. Por favor escolha uma imagem mais pequena.');
    }
  });
  $('#user_curriculum').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('O tamanho máximo é de 5MB. Por favor escolha um formato do currículo mais pequeno.');
    }
  });
  
  $(".datepicker").datepicker();

</script>