<%= simple_form_for @noticia,html:{multipart: true }, url: noticias_new_path  do |f| %>
    <div>
      <div id="new_info">
        <div class="row">
          <div class="col-md-6 ">
            <%= f.input :titulo, label: "Título" %>
          </div>
          <div class="col-md-6">
            <%= f.date_field :data, label: "Data",  class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Sumário</h3>
            <%= f.text_area :sumario, class:'tinymce' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Descrição</h3>
            <%= f.text_area :descricao , class:'tinymce'%>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <%= f.input :foto, as: :file, label: "Foto" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h5><strong>Destaque</strong></h5>
            <br>
            <div class="checkbox">
              <%= f.input :destaque, inline_label: "Sim" %>
            </div>
          </div>
          <div class="col-md-2 col-md-offset-2">
            <h5><strong>Activa</strong></h5>
            <br>
            <div class="checkbox ">
              <%= f.input :ativa, inline_label: "Sim" %>
            </div>

          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-2">
          <%= f.button :submit, class: 'btn btn-primary' %>

        </div>
        
      </div>
    </div>
<% end %>