<div class="row" >
  <div class="col-md-6">
    <%= f.input :email , class:"form-control",error: false%>
  </div>
</div>
<div class="row">
  <% if params[:data] == 'reset_password' %>
      <div class="col-md-6">
        <%= f.input :current_password, label: "Password Atual", class:"form-control",error: false %>
      </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-6">
    <%= f.input :password , class:"form-control",error: false%>
  </div>
  <div class="col-md-6">
    <%= f.input :password_confirmation, label: "Confirmação Password", class:"form-control",error: false %>
  </div>
</div>