<div>
      <div id="new_info">
        <div class="row">
          <div class="col-md-6 ">
            <%= f.input :name,label: "Nome" %>
          </div>
          <div class="col-md-6">
          <%= f.input :tipo, label: "Tipo", collection: (['admin', 'candidato', 'entidade']) , class:"form-control",error: false%>
          </div>
        </div>
        <%= render 'layouts/form_info_login', :f => f %>
        <div class="row">

          <div class="col-md-4">
              <div class="checkbox">
                  <%= f.input :activated, inline_label: "Ativo" %>
              </div>
          </div>

          <div class="col-md-4">
              <div class="checkbox">
                  <%= f.input :destaque, inline_label: "Destaque" %>
              </div>
          </div>

          <div class="col-md-2">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
          <div class="col-md-2">
            <%= link_to "Cancelar", backoffice_users_path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    </div>