<div class="col-md-3">
  <%= f.input :cv, label: "Currículo",class:'form-control', error:false %>
</div>

<div class="col-md-3 col-md-offset-3">
  <%= f.input :area_profissional, label: "Atividade Profissional", collection: (['Engenharia', 'Letras', 'Saúde', 'Desporto']) , class:"form-control",error: false%>
</div>

<div class="col-md-12">
  <h3>Habilitações Literárias</h3>
  <%= f.text_area :habilitacoes_literarias, label: "Habilitações Literárias", placeholder: 'Percurso académico, habilitações, etc.' , class:"form-control tinymce",error: false%>
</div>

<div class="col-md-2">
  <%= f.input :nivel_habilitacoes, label: "Nível de Habilitações", collection: (['Secundário','Licenciatura','Mestrado','Doutoramento']) , class:"form-control",error: false%>
</div>

<div class="col-md-12">
  <h3>Experiência Profissional</h3>
  <%= f.text_area :experiencia_profissional, label: "Experiência Profissional" , class:"form-control tinymce",error: false%>
</div>

<div class="col-md-2">
  <%= f.input :situacao_profissional, label: "Situação Profissional" ,collection: (['Empregado','Desempregado']), class:"form-control" ,error: false%>
</div>