<%= simple_form_for @user, html: {multipart: true}, url: nova_entidade_path do |f| %>
    <%= render 'shared/error_messages' %>
    <%= render 'layouts/form_info_login', :f => f %>

    <div id="info_entidade" class="profile">
        <%= render 'layouts/form_info_pessoal', :f => f %>

        <div class="row">
            <div class="col-md-2">
            <%= f.input :bilhete_identidade, label: "NIF" %>
            </div>
        </div>
        
        <%= f.hidden_field :tipo, value: 'entidade' %>

        <div class="row">
            <div class="col-md-2 col-md-offset-3">
                <%= f.input :area_profissional, label: "Atividade Profissional", collection: (['Engenharia', 'Letras', 'Saúde', 'Desporto']) , class:"form-control",error: false%>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Apresentação</h3>
                <%= f.text_area :apresentacao, label:  "Apresentação", class:"tinymce" %>
            </div>
        </div>

        <div class="row" style="margin:5% 0%">
          <div class="col-md-6">
            <div class="checkbox">
              <%= f.input :newsletter, inline_label: "Receber Newsletter" %>
            </div>
          </div>
        </div>
        
        

        <div class="col-md-2">
            <%= f.button :submit, "Registar Entidade", class: "btn btn-primary" %>
        </div>
    </div>
<% end %>

<script type="text/javascript">
  $('#user_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('O tamanho máximo é de 5MB. Por favor escolha uma imagem mais pequena.');
    }
  });


</script>