<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
    <%= link_to "Bolsa de Emprego", root_path, id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-left">
                
                <% if logged_in? && admin_user?(@current_user)  %>
                    <% if request.fullpath.include?('backoffice')  %>
                        <li><%= link_to "Frontoffice", root_path %></li>
                        <li><%= link_to "Utilizadores",   backoffice_users_url %></li>
                        <li><%= link_to "Notícias", backoffice_noticias_url  %></li>
                    <% else %>
                        <li><%= link_to "Backoffice", backoffice_path %></li>
                        
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ofertas <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Todas", index_ofertas_path %></li>
                                <li><%= link_to "Em destaque", index_ofertas_destaque_path %></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Candidatos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Todos", index_candidatos_path %></li>
                                <li><%= link_to "Em destaque", index_candidatos_destaque_path %></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Entidades <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Todos", index_entidades_path %></li>
                                <li><%= link_to "Em destaque", index_entidades_destaque_path %></li>
                            </ul>
                        </li>

                        
                        <li><%= link_to "Notícias", index_noticias_path %></li>
                    <% end %>
                <% else %>
                    <li><%= link_to "Home", root_path %></li>
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ofertas <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Todas", index_ofertas_path %></li>
                            <li><%= link_to "Em destaque", index_ofertas_destaque_path %></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Candidatos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Todos", index_candidatos_path %></li>
                            <li><%= link_to "Em destaque", index_candidatos_destaque_path %></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Entidades <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Todos", index_entidades_path %></li>
                            <li><%= link_to "Em destaque", index_entidades_destaque_path %></li>
                        </ul>
                    </li>

                    <li><%= link_to "Notícias", index_noticias_path %></li>
                <% end %>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if logged_in? %>
                    <% if admin_user?(@current_user) %>
                        <li> <%= link_to "Logout", logout_path, method: :delete %> </li>
                    <% else %>
                        <li><%= link_to @current_user.name,  user_path(current_user, perfil:'true') %></li>
                        <li><%= link_to 'Detalhes',  user_path(current_user) %></li>
                        <li> <%= link_to "Logout", logout_path, method: :delete %> </li>
                    <% end %>
                <% else %>
                    <li><%= link_to "Registo", signup_path %></li>
                    <li><%= link_to "Log in", login_path  %></li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>