<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
            <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag "application" %>
</head>